/* Modifications for the index page */

h1#title {
    font-size: 1.5em;
    text-shadow: none;
    display: block;
    text-align: center;
    border: 1em;
}
h2 {
    font-size: 1em;
}
ul li {
    font-size: .5em;
}
body {
    padding: 20px;
}